<!DOCTYPE html>
<html lang="en">
<head>
  <title>Novell Services Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container mt-3">
  <h2>Novell Services Login</h2>
  <form action="">
    <div class="mb-3 mt-3">
      <label for="idName">Username:</label>
      <input type="text" class="form-control" id="idName" placeholder="Enter username" name="userName" required>
    </div>
    <div class="mb-3">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
    </div>
    <div class="mb-3">
        <label for="idCity">City of employment:</label>
        <input type="text" class="form-control" id="idCity" placeholder="Enter city" name="city">
    </div>
    <div class="mb-3">
        <label for="idweb">Web Server:</label>
        <select name="web" class="form-select">
            <option value="1">Apache</option>
            <option value="2">IIS</option>
            <option value="3">Tomcat</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="idRole">Please specify your role:</label>
        <div class="form-check">
            <input type="radio" id="idRole" name="rol" value="Admin" class="form-check-input" required>
            <label class="form-check-label" for="idRole">Admin</label>
        </div>
        <div class="form-check">
            <input type="radio" id="idEngineer" name="rol" value="Engineer" class="form-check-input">
            <label class="form-check-label" for="idEngineer">Engineer</label>
        </div>
        <div class="form-check">
            <input type="radio" id="idManager" name="rol" value="Manager" class="form-check-input">
            <label for="idManager" class="form-check-label">Manager</label>
        </div>
        <div class="form-check">
            <input type="radio" id="idGuest" name="rol" value="Guest" class="form-check-input">
            <label for="idGuest" class="form-check-label">Guest</label>
        </div>
    </div>
	<div class="mb-3">
        <label for="idRole">Single Sign-on to the following:</label>
        <div class="form-check">
            <input type="checkbox" name="mail" value="Mail" class="form-check-input" id="idMail">
            <label class="form-check-label" for="idMail">Mail</label>
        </div>
        <div class="form-check">
            <input type="checkbox" name="payroll" value="Payroll" class="form-check-input" id="idPayroll">
            <label class="form-check-label" for="idPayroll">Payroll</label>
        </div>
        <div class="form-check">
            <input type="checkbox" name="selfService" value="Self-service" class="form-check-input" id="idSelfService">
            <label class="form-check-label" for="idSelfService">Self-service</label>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

</body>
</html>